
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
  <div class="header"
  <h3>Chitter: Latest peeps</h3>
  </div>
  <div class="sidebar">
    <a href="/login"><i class="fa fa-sign-in"></i> Login</a>
    <a href="/signup"><i class="fa fa-user-plus"></i> Signup</a>
  </div>
  <div class="peeps">
    <li class="peep" id="peep-1">
      <p>My first peep!<br><br></p>
      <small>
        <span class="name">User Person</span>
        @user1
        <span class="time">2019-02-02 19:08:38 UTC</span>
      </small>
      </li>
    <li class="peep" id="peep-1">
      <p>Another test peep<br><br></p>
      <small>
        <span class="name">User Person</span>
        @user1
        <span class="time">2019-02-02 19:08:38 UTC</span>
      </small>
      </li>
    <li class="peep" id="peep-1">
      <p>A new user testing a peep here<br><br></p>
      <small>
        <span class="name">User Person</span>
        @user1
        <span class="time">2019-02-02 19:08:38 UTC</span>
      </small>
      </li>
    <li class="peep" id="peep-3">
      <p>Testing with user2<br><br></p>
      <small>
        <span class="name">USer 2</span>
        @user2
        <span class="time">2019-02-02 22:22:46 UTC</span>
      </small>
      </li>
  <br>
  </div>
  </body>
</html>
